@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

.container {
  display: flex;
  border: solid 2px #41197F;
  border-radius: 2.5px;
  background-color: #41197F;
  box-shadow: 5px 5px 5px 0px #0000002c;
  /* margin: auto; */
  width: 300px;
}
.shearch {
  border: none;

}

.btn{ 
  background-color: #41197F;
  border: none;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
  color: #EEEEEE;
}
/* REFERENCIA: https://pt.stackoverflow.com/questions/5216/como-remover-borda-dos-input-e-textarea-de-todos-os-browsers-quando-clicado */
textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 